[Desktop Entry]
Type=Application
Version=1.0
Name=Install to Hard Drive
GenericName=Calamares Installer
Exec=install-host
Comment=Calamares - Installer
Keywords=calamares;system;install;installer
Icon=Kicksecure-logo-rectangle
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=true
Terminal=true
