#!/bin/bash

set -x

apt_update_from_cdrom_sources() {
    apt-get -o Dir::Etc::sourceparts='/usr/share/live-config-dist/sources.list.d' update
}

CHROOT=$(mount | grep proc | grep calamares | awk '{print $3}' | sed -e "s#/proc##g")

echo "Running bootloader-config..."

if [ -d /sys/firmware/efi/efivars ]; then
    echo " * Installing grub-efi (uefi)..."
    apt_update_from_cdrom_sources
    DEBIAN_FRONTEND=noninteractive chroot $CHROOT apt-get -y install grub-efi
elif [ "$(dpkg --print-architecture)" = 'amd64' ]; then
    echo " * install grub... (bios)"
    apt_update_from_cdrom_sources
    DEBIAN_FRONTEND=noninteractive chroot $CHROOT apt-get -y install grub-pc
fi

# Re-enable os-prober:
sed -i "s/#GRUB_DISABLE_OS_PROBER=false/# OS_PROBER re-enabled by Debian Calamares installation:\nGRUB_DISABLE_OS_PROBER=false/g" $CHROOT/etc/default/grub
chroot $CHROOT /usr/sbin/update-grub
